body {color: #c0392b}

h1 {color:blue}


.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}


ul, li {
  list-style-type: none;
}

li, a {
  text-decoration: none
}